/*css for main page background image div*/
.mainPage   {
    background-image: url(http://localhost:8080/Images/HandShake.jpg);
    background-size: cover;
    height: 50vw;
    background-repeat: no-repeat;
    opacity: .75;
    /*background-attachment: fixed;*/
    background-position: center center;
}

.mainPage h1   {
    font-weight: bold;
    color: black;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    /*opacity: 1.0 !important;*/

}