<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div className = "container">
    <label htmlFor="uname"><b>Username</b></label>
    <br>
    <label>
        <input type="text" placeholder="Enter Username" name="uname" required></input>
    </label>
    <br>

    <label htmlFor="psw"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required></input>
    <br>

    <a href= "http://localhost:8080/AccountHome"><button type="button" className="submit">Login</button></a>


    <a href= "http://localhost:8080/Register"><button  type="button" className="btn btn-primary btn-lg">Register</button></a>
    <br>
    <span className="forgotpsw"><a href="#">Forgot password?</a></span>

</div>
</body>
</html>